<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-blue-600 dark:[&>p>strong]:text-blue-400 text-pretty order-2 md:order-1"
    >
      <p>
        Soy Juan Vega, Ingeniero mecatronico apasionado por el desarrollo de software,
          empecé a programar con <strong>C# y .NET</strong>  hace algunos años. A lo largo de mi carrera
          he trabajado en una variedad de proyectos, desde <strong>sistemas monolíticos hasta 
          arquitecturas de microservicios</strong>, siempre buscando crear soluciones escalables y 
          eficientes. Aunque mi enfoque principal es el backend, también disfruto trabajando 
          con frontend, especialmente con Angular.
      </p>
  
      <p>
        Me encanta optimizar la experiencia del usuario y la calidad del software. He tenido la oportunidad 
        de implementar herramientas como <strong>Redis, Serilog y Logstash para mejorar el rendimiento y la visibilidad 
        de las aplicaciones</strong>.
      </p>

      <p>
        Mi enfoque siempre está en seguir aprendiendo y mejorando. Me entusiasma enfrentar nuevos retos y encontrar
         formas innovadoras de aplicar la tecnología para resolver problemas reales y aportar valor.
      </p>
  
    </div>
  
    <img width="200" height="200" src="img/FotoCV.webp" alt={personalImageAlt} class="order-1 object-cover p-1 md:order-1 lg:p-2 lg:w-64 rounded-full">
  
  </article>