<nav class="flex flex-wrap gap-x-4 gap-y-4 mt-6">
    <app-icon-button
        href="https://github.com/JDVega6"
       >
        <svg-Github class="size-4 md:size-6"></svg-Github>
        GitHub
    </app-icon-button>

    <app-icon-button
        href="https://www.linkedin.com/in/jdvegadev/"
       >
       <svg-LinkedIn class="size-4 md:size-6"></svg-LinkedIn>
        Linkedin
    </app-icon-button>

    <app-icon-button
    href="mailto:juanguativa07@gmail.com" 
   >
   <svg-Gmail class="size-4 md:size-6"></svg-Gmail>
    Juanguativa07&#64;gmail.com
</app-icon-button>
</nav>

