
<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2 "
>
  <nav
    class="flex px-2 rounded-full text-sm font-medium text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    <a
      *ngFor="let link of navItems"
      routerLink="/"
      [fragment]="link.url"
      [attr.aria-label]="link.label"
      class="relative block px-2 py-2 transition hover:text-blue-600 dark:hover:text-blue 
      text-xs sm:text-base "
    >
      {{ link.title }}
    </a>
    <themeToggle></themeToggle>
  </nav>
</header>


