<app-header></app-header>
<main class="px-4">
    <section-container class="py-10 md:py-16" id="introduction">
        <Introduction></Introduction>
    </section-container>
    <div class="">
        <section-container  id="experiencia">
            <section-title>
                Experiencia Laboral
            </section-title>
            <app-experience></app-experience>
        </section-container>

        <section-container  id="proyectos">
            <section-title>
                Proyectos
            </section-title>
            <projects></projects>
        </section-container>
        
        <section-container  id="educacion">
            <section-title>
                Educación
            </section-title>
            <Education></Education>
        </section-container>

        <section-container  id="sobre-mi">
            <section-title>
                Sobre mí
            </section-title>
            <AboutMe></AboutMe>
        </section-container>

        
    </div>
</main>
<app-footer></app-footer>

  