
<div  *ngFor="let experience of experiences"
  class="relative mx-12 pb-4 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-[1.2px] before:border-black dark:before:border-white before:content-[''] md:gap-10]"
>
  <div class="relative ">
    <div class="sticky top-0">
      <span class="text-blue-600 -left-[44px] absolute rounded-full text-5xl"
        >&bull;</span
      >
      <h3 class="text-lg sm:text-xl font-bold text-blue-600 dark:text-blue-400">{{experience.title}}</h3>
      <h4 class="font-semibold sm:text-lg text-gray-700 dark:text-white">{{experience.company}}</h4>
      <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80">{{experience.date}}</time>
    </div>
  </div>

</div>